<br />
<div class='panel panel-default col-md-6 col-md-offset-3'>
    <div class="panel-header center-align row">
    <div class="col-md-6 col-md-offset-3">
      <img src="./img/faild.jpg" width='100%' class="img-responsive img-rounded">
    </div>
    </div>
    <div class='panel-body center-align'>
    <h1 class="text-danger">Faild!</h1>
    <span>Hello <b><%= name %></b>, somethig went wrong, please try again.</span>
    <br />
    <br />
    <a href="#/tryagain" class="btn btn-default"><i class="fa fa-repeat"></i> Try Again</a>
    </div>
</div>
