<br />
<div class='panel panel-default col-md-6 col-md-offset-3'>
    <div class="panel-header center-align row">
      <div class="col-md-6 col-md-offset-3">
      <img src="./img/success.jpg" width='100%' class="img-responsive img-rounded" />
      </div>
    </div>
    <div class='panel-body center-align'>
    <h1 class="text-success">Applied Successfully!</h1>
    <span>Hello <b><%= name %></b>, You have successfully applied for a new account.</span>
    <br />
    <br />
    <a href="#" class="btn btn-default"><i class="fa fa-home"></i> Home</a>
    </div>
</div>
